* {
    background-image: url("purple.jpg");
    color: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0; 
    height: 100vh; 
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 20px; 
}

h2 {
    font-size: 60px;
    font-family: "Nabla", system-ui;
    margin-left: 20px; 
}

.avatar {
    width: 150px; 
    height: auto; 
    border-radius: 50%; 
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    color: orange;
    background-color: transparent;
}

.form-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: transparent;
}

input {
    margin: 10px 0; 
    padding: 10px; 
    width: 250px; 
    border: 1px solid white; 
    background-color: rgba(255, 255, 255, 0.2); 
    color: white; 
}

button {
    background-color: black; 
    color: white; 
    padding: 10px 30px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkgray; 
}

section {
    background-color: rgba(0, 0, 0, 0.5);
    /* padding: 20px; */
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

#previous-reviews-button {
    margin: 20px;
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#previous-reviews-button:hover {
    background-color: darkgray;
}